body{-webkit-text-size-adjust:none;background-color:#ecebdf;color:#323232;font:12px "微软雅黑",Verdana,Geneva,Arial,Helvetica,sans-serif;margin:0;padding:0}
ul,li,dl,dt,dd,form,p{list-style:none;margin:0;padding:0}
img{border:0}
button{cursor:pointer}
a{color:#323232;cursor:pointer;text-decoration:none}
a:hover{text-decoration:underline}
a:focus{outline:none}
/*p{margin:15px 0}*/

.panel{padding:0 30px}

.lfloat{float:left}
.rfloat{float:right}
.cfloat{clear:both}
.hidden_elem{display:none !important}
.floatClear{clear:both;font-size:0}
.bottomClear{clear:both;font-size:0;height:10px}
.bLine{clear:both;height:15px;padding-top:15px}
.bLine i{float:right;font-style:normal;margin-right:10px}
/*.bLine span{border-bottom:solid 1px #323232;float:left;height:14px;width:15px}*/
.bLine .more{background:url(../images/buttons.gif) no-repeat;float:right;height:15px;width:65px}
.box,.widget{margin-bottom:20px}
.box.bottom,.widget.bottom{margin-bottom:0}
.innerBox{margin-bottom:30px}
.new{background:url(../images/icons.gif) no-repeat left -4px;display:block;height:13px;left:0;position:absolute;top:0;width:25px;z-index:5}
.summary{color:#787878 !important;padding:10px 0 0}
.gbtn{background:url(../images/buttons.gif) no-repeat left -15px;border:0;height:18px;line-height:18px;text-align:center;text-decoration:none;width:85px}
.gbtn:hover{background-position:left -48px;}
.gbtn span{color:#787878;font:10px/18px "微软雅黑"}
.gbtn:hover span,.highlight span{color:#323232}
.iptField,.longField,.tinyField{border:solid 1px #b4b4b4;color:#787878;font:10px "lucida grande",tahoma,verdana,arial,sans-serif;height:16px}
.lside{float:left !important}
.combo_box{overflow:hidden}
.iptchk{line-height:18px;margin:0 3px 0 0;padding:0;vertical-align: -3px}

/*****popup window*****/
.mask{background-color:#000;left:0;position:absolute;top:0;z-index:90}

.popup{-moz-box-shadow:-4px 5px 18px rgba(0,0,0,.45);-webkit-box-shadow:-4px 5px 18px rgba(0,0,0,.45);box-shadow:-4px 5px 18px rgba(0,0,0,.45);background-color:#fff;left:0;padding:40px 40px 0;position:absolute;top:0;z-index:99}
.popup .close{background:url(../images/popups/close.gif) no-repeat;height:15px;position:absolute;right:5px;top:5px;width:15px}
.popup .poll{padding-bottom:40px;width:260px}
.popup .poll table{margin-bottom:30px;width:260px}
.popup .poll th{font-size:10px;font-weight:normal;text-align:left}
.popup .poll td div{background-color:#000;height:10px;width:156px}
.popup .poll td span{background-color:#ffbe0a;display:block;height:10px}
.popup .poll .percent{font-size:10px;text-align:right}
.popup .notice{background:url(../images/popups/icon_smile.gif) no-repeat;padding:20px 0 48px 75px;width:160px}
.popup .success{background:url(../images/popups/icon_success.gif) no-repeat;padding:20px 0 48px 75px;width:160px}
.popup .error{background:url(../images/popups/icon_error.gif) no-repeat;padding:20px 0 48px 75px;width:160px}

.popup .forget{background:url(../images/popups/icon_mail.gif) no-repeat;padding:5px 0 48px 75px;width:175px}

.popup .register,.popup .signin,.popup .forgetForm{padding-bottom:30px;width:260px}
.popup .register .bar span{background:url(../images/h2TxtC.gif) no-repeat left -100px}
.popup .register .iptField,.popup .signin .iptField,.popup .forgetForm .iptField{font-size:12px;padding:1px;width:256px}
.popup .register .tinyField,.popup .signin .tinyField,.popup .forgetForm .tinyField{font-size:12px;padding:1px}
.popup .register .desc,.popup .signin .desc,.popup .forgetForm .desc{color:#787878;display:block;font-size:10px}
.popup .register .errMsg,.popup .signin .errMsg,.popup .forgetForm .errMsg{clear:both;color:#ff0000;font-size:10px;padding-top:10px}
.popup .register .errMsg p,.popup .signin .errMsg p,.popup .forgetForm .errMsg p{margin-bottom:3px}

.popup .regSuccess{background:url(../images/popups/icon_success.gif) no-repeat 40px top;margin:60px 0;padding:20px 0;width:260px}
.popup .regSuccess p{padding-left:115px}
.popup .regSuccess div{margin-top:40px;text-align:center;}
.popup .regSuccess .gbtn{display:inline-block}

.popup .signin .bar span{background:url(../images/h2TxtC.gif) no-repeat left -80px}
.popup .signin .uname{width:185px}
.popup dl{width:180px}

.popup .forgetForm .bar span{background:url(../images/h2TxtC.gif) no-repeat left -120px}

#container{background-color:#fff;margin:0 auto;padding-bottom:30px;width:1000px}
#head{float:left;height:61px;overflow:hidden;padding-top:24px;width:940px}

.extlink{font-size:10px;height:20px;margin:0 auto;padding-right:3px;text-align:right;width:997px}
.extlink a,.breadcrumbs a{color:#a1a098;height:20px;line-height:20px;text-decoration:none}
.extlink a:hover,.breadcrumbs a:hover{text-decoration:underline}
.extlink .icon,.breadcrumbs .icon{background:url(../images/icons.gif) no-repeat left -511px;margin-left:15px;padding-left:8px}
.breadcrumbs{border-top:solid 5px #ecebdf;clear:both;font-size:10px;padding:8px 30px}
.breadcrumbs .icon{margin-left:4px}

/*****header start*****/
#siteLogo{background:url(../images/logo.gif) no-repeat;float:left;margin:3px 0 0;position:relative;width:115px}
#siteLogo .beta{background:url(../images/beta.gif) no-repeat;height:15px;position:absolute;right:-43px;top:-7px;width:42px}
#siteLogo a{display:block;height:37px}
#mainNav{margin-left:250px}
#pageNav{margin-top:8px}
#pageNav li{border-left:solid 1px #323232;float:left;height:16px;padding:1px 15px;position:relative;width:68px}
#pageNav li.navHome{border:0;padding-left:0;width:20px}
#pageNav li a{background:url(../images/pageNav.gif) no-repeat left -1px;display:block;height:16px}
#pageNav li.navCenter a{background-position:left -19px}
#pageNav li.navEvents a{background-position:left -37px}
#pageNav li.navMedia a{background-position:left -55px}
#pageNav li.navSquare a{background-position:left -127px}
#pageNav li.navHome a.on,#pageNav li.navHome a:hover{background-position:-22px -1px}
#pageNav li.navCenter a.on,#pageNav li.navCenter a:hover{background-position:left -73px}
#pageNav li.navEvents a.on,#pageNav li.navEvents a:hover{background-position:left -91px}
#pageNav li.navMedia a.on,#pageNav li.navMedia a:hover{background-position:left -109px}
#pageNav li.navSquare a.on,#pageNav li.navSquare a:hover{background-position:left -145px}
#pageNav li i{background:url(../images/icons.gif) no-repeat center -529px;font-size:0;height:7px;margin-top:29px;position:absolute}

.userBar{clear:both;font-size:10px;text-align:right;width:360px}
.userBar dd,.userBar dt{float:right;}
.userBar a{height:20px;line-height:20px}
.userBar .icon{background:url(../images/icons.gif) no-repeat left -511px;margin-left:6px;padding-left:8px}

/*****header end*****/

/*****footer start*****/
#foot{margin:15px auto 0;padding-top:5px;position:relative;width:1000px}
#ikeaLogo{background:url(../images/ikea.gif) no-repeat;float:left;height:22px;margin-top:-1px;width:65px}
#ikeaLogo a{display:block;height:29px}
#foot p{color:#787878;font-size:10px;height:19px;line-height:19px;margin-left:74px}
#foot p a{color:#787878;text-decoration:none}
#foot p a:hover{text-decoration:underline;}
#foot p span{float:right;}
#foot .icon{background:url(../images/icon_foot.gif) no-repeat #fff;height:32px;left:0;position:absolute;top:0;width:47px}
#foot .icon a{display:block;height:32px}
/*****footer end*****/

#content{background:url(../images/bgline.gif) repeat-y;clear:both;float:left;width:940px}
.member #content{background-image:url(../images/bgline_m.gif)}
.member #content.s{background-image:url(../images/bgline_m_s.gif)}
.center #content,.topic #content,.media #content,.square #content{background-image:url(../images/bgline_q.gif)}
.search #content{background:none}

h2{margin:0 0 15px}
h2.bar{border-bottom:solid 2px #ffbe0a;font-size:0;height:20px;position:relative}
h2.bar span{background:url(../images/h2Txt.gif) no-repeat;display:block;height:20px;text-indent:-9999px}
h2.bar span.dynamic{background:none !important;color:#000;font:bold 12px/20px "微软雅黑";text-indent:0}
h2.h2{padding-bottom:8px}
h2.h2 span.dynamic{font-size:16px !important}
h2.bar i{font: bold 10px/20px Verdana,Geneva,Arial,Helvetica,sans-serif;position:absolute;top:-1px}
.center h2.bar span,.topic h2.bar span,.event h2.bar span,.media h2.bar span{background-image:url(../images/h2TxtC.gif)}

h4.title,h4.title a{font-size:12px;margin:0}
.combo_box h4.title{float:left;margin-top:12px}
.whats_new .combo_box{margin-top:5px}
.whats_new .combo_box h4.title{margin:0}
#contCol{width:710px}
.s #contCol{width:940px}
#leftCol{padding-right:21px;width:200px}
.member #leftCol{width:178px}
#mainCol{width:460px}
.member #mainCol{width:482px}
.s #mainCol{width:712px}
#userCol{width:180px}
#splitBar{border-top:solid 5px #ecebdf;clear:both;height:28px}
/*#userBar dl{float:right;width:180px}
#userBar dl dd{float:right}*/


/*****icons*****/
.iconList{height:10px;margin:15px 0 10px;width:auto}
.iconList dd,.iconList dt{background:url(../images/icons.gif) no-repeat;display:inline;float:left;font-size:10px;height:10px;line-height:12px;margin-right:10px;padding-left:16px}
.iconList dt{width:14px}
.iconList .btn_like{background:none;float:right;margin:0;padding:0;width:55px}
.iconList .btn_like a{background:url(../images/center/btn_like.gif) no-repeat;display:block;height:17px}
.icon_like{background-position:left -25px !important}
.icon_comt{background-position:left -45px !important}
.icon_time{background-position:left -374px !important}
.icon_view{background-position:left -334px !important}
.rank1{background-position:left -65px !important}
.rank2{background-position:left -85px !important}
.rank3{background-position:left -105px !important}
.hot1{background-position:left -434px !important}
.hot2{background-position:left -454px !important}
.hot3{background-position:left -474px !important}
.hot4{background-position:left -494px !important}
.combo_box .iconList{margin-bottom:0}
.combo_box .iconList dd{float:right;margin:0 0 0 10px}
.whats_new .combo_box .iconList{margin-top:3px}

.tags dd{float:left;margin:0 2px 2px 0}
.tags dd a{background-color:#b4b4b4;color:#fff;display:block;height:17px;line-height:17px;padding:0 10px;text-align:center;text-decoration:none;white-space:nowrap}
.member .tags a{background-color:#d8d8d8;float:left;padding:0 10px;width:auto}

/*****main content*****/
.acc{overflow:hidden}
.room_type{height:390px}
.room_type li{float:right;margin-bottom:5px}
.room_type li a{background:url(../images/rooms.jpg) no-repeat;display:block;height:58px;width:95px}

.room_type .r1{background-position:left top}
.room_type .r2{background-position:left -58px}
.room_type .r3{background-position:left -116px}
.room_type .r4{background-position:left -174px}
.room_type .r5{background-position:left -232px}
.room_type .r6{background-position:left -290px}
.room_type .r7{background-position:left -348px}
.room_type .r8{background-position:left -406px}
.room_type .r9{background-position:left -464px}
.room_type .r10{background-position:left -522px}
.room_type .r11{background-position:left -580px}
.room_type .r12{background-position:left -638px}

.hfcenter .rooms{background:url(../images/accordion_home.gif) no-repeat;display:block;height:20px;margin-bottom:10px}
.hfcenter .rooms.on{background:url(../images/accordion_home.gif) no-repeat left -20px;height:20px}
.hfcenter .hot{background:url(../images/accordion_home.gif) no-repeat left -40px;clear:left;display:block;height:20px;margin-bottom:15px}
.hfcenter .hot.on{background:url(../images/accordion_home.gif) no-repeat left -60px}
.hfcenter .top,.ikea_events .top{border-bottom:solid 1px #e6e6e6;height:54px;margin-bottom:10px;padding-bottom:15px}
.ikea_events .top{height:60px}
.hfcenter .top div,.ikea_events .top div{width:154px}
.hfcenter .top h4,.ikea_events .top h4{margin:10px 0 10px;overflow:hidden;padding-left:10px;white-space:nowrap}
.hfcenter .top .iconList,.ikea_events .top .iconList{margin:8px 0 10px}
.hfcenter .top .iconList dd,.ikea_events .top .iconList dd{margin:0 0 0 10px}
.hot_list li,.event_list li{border-bottom:solid 1px #e6e6e6;clear:both;float:left;margin-top:15px;padding-bottom:15px;position:relative;width:200px}
.hot_list li.f,.event_list li.f{margin-top:0}
.hot_list li div,.event_list li div{width:118px}
.hot_list li dl,.event_list li dl{margin:5px 0 0}
.my_activity .event_list li{width:712px}
.my_activity .event_list li div{width:632px}

.acc .bLine{padding-top:19px}

.top_rooms .bar span{background-position:left -80px}
.top_rooms .top,.ikea_events .top{position:relative}
.top_rooms ul{margin-top:25px}
.top_rooms li{margin-top:15px}

.whats_new .bar span{background-position:left -20px}
.whats_new{overflow:hidden}
.whats_new .bLine{padding-top:12px}
#mediaCtn{position:relative}
#mediaCtn a{background:url(../images/icons.gif) no-repeat left -390px;height:18px;position:absolute;right:10px;top:10px;width:20px;z-index:7}
#mediaCtn .banner{position:static !important}
#mediaCtn span{background-color:#ffc801;color:#000;height:18px;line-height:18px;padding:0 3px;position:absolute;right:31px;top:10px;z-index:4}

.ikea_events .bar span{background-position:left -100px}
.ikea_events .intro{padding:15px 0 0}

.discussion .bar span{background-position:left -80px}
.discussion li{clear:both;height:50px;margin-bottom:10px;overflow:hidden}
.discussion img{float:left}
.discussion .bubble{-webkit-border-radius:2px 2px;-moz-border-radius:2px/2px;border:solid 2px #d8d8d8;border-radius:2px/2px;float:right;height:40px;padding:0 8px 6px 10px;position:relative;width:373px}
.discussion li.alt .bubble{background-color:#f2f1e9}
.discussion .iconList{margin:8px 0}
.discussion .bubble strong{border-left:solid 1px #000;border-right:solid 1px #000;padding:0 5px}
.discussion .bubble b{color:#a2a2a2;float:right;font-size:10px;font-weight:normal}
.discussion .bubble span{color:#787878}
.discussion .bubble i{background:url(../images/bubble_arrow.gif) no-repeat;font-size:0;height:9px;left:-7px;position:absolute;top:6px;width:7px;z-index:2}
.discussion li.alt .bubble i{background-position:left -9px}
.discussion .bLine{padding-top:5px}

.rate_room .bar span{background-position:left -160px}
.rate_room li{float:left;margin-left:18px;width:141px}
.rate_room li.f{margin-left:0 !important}
.rate_room li .title{display:block;font-weight:bold;margin:6px 0;overflow:hidden}
.rate_room li .vote{background:url(../images/vote_repeat.gif) repeat-x;float:left;height:17px;width:100%}
.rate_room li .vote span{color:#a2a2a2;font-size:10px;line-height:17px;padding-right:5px}
.rate_room li .vote b{background:url(../images/vote_left.gif) no-repeat;float:left;height:17px;width:57px}
.rate_room li .vote i{background:url(../images/vote_right.gif) no-repeat;float:right;font-size:0;height:17px;width:4px}
.square .rate_room li{margin-left:24px;width:160px}

/*****widget*****/
.slidebar_holder{font-size:0;position:relative}
#sliderbar{background:url(../images/slider_body.gif) repeat-y;right:-54px;position:absolute;top:0;width:24px}
#sliderbar li{font-size:0;height:12px;margin:0 auto 10px;width:12px}
#sliderbar li.top{background:url(../images/slider_top.gif) no-repeat;height:2px;width:24px}
#sliderbar li.house{width:16px}
#sliderbar li.bottom{background:url(../images/slider_bottom.gif) no-repeat;height:2px;margin:0;width:24px}

.search{margin:-1px 0 14px;position:relative}
#navSearch{margin:8px 0 0;width:180px}
#navSearch .uiType{border:solid 1px #323232;height:18px;overflow:hidden;padding:1px 0 1px 1px}
#navSearch .uiType span{display:block;position:relative}
#navSearch input{border:0;color:#323232;font:12px "lucida grande",tahoma,verdana,arial,sans-serif;margin:0 18px 0 0;outline:none;padding:1px 0 2px;width:156px}
#navSearch button{background:url(../images/pageNav.gif) no-repeat top right;border:0;height:18px;padding:0;position:absolute;right:1px;top:0;width:18px}

.login_form .bar span{background-position:left -40px}
#userSignin p,.popup .register p,.popup .signin p,.popup .forgetForm p{margin-bottom:10px}
#userSignin p{height:35px}
#userSignin p label,.popup .register p label,.popup .signin p label,.popup .forgetForm p label{color:#787878;display:block;font-size:10px;line-height:10px;margin-bottom:5px}
.popup p.inline label{display:inline}
#userSignin .iptField{padding:1px;width:176px}
#userSignin .login_way{border:1px solid #B4B4B4;float:left}
#userSignin .uname{float:right;width:105px}
#userSignin dd,.popup dd{color:#787878;font-size:10px;height:18px;line-height:18px;margin-bottom:8px;width:85px}
#userSignin a,.popup a{color:#787878}
.login_form .bLine{font-size:0;height:0;padding-top:4px}
.poll .bLine{height:0}
.home .poll .bar span{background-position:left -60px}

.activity_users .bar span{background-position:left -120px}
.activity_users li,.user_list li{float:left;margin-bottom:10px;margin-left:17px;position:relative}
.activity_users li.lside,.user_list li.lside{margin-left:0}
.activity_users img,.user_list img{display:block;margin-bottom:3px}
.activity_users .card,.user_list .card{left:-6px;position:absolute;top:52px}
.activity_users p,.user_list p{cursor:pointer;font-size:10px;height:25px;line-height:12px;overflow:hidden;padding-left:15px;width:33px}
.activity_users .bLine,.user_list .bLine{padding-top:6px}

.poll p{color:#787878;margin-bottom:10px}
.poll dl{float:left;margin-bottom:15px}
.poll dd{float:left;white-space:nowrap;width:94px}
.poll form div{clear:left}
.poll form .result{margin-left:10px}

.hot_tags .bar span{background-position:left -140px}
.hot_tags .tagcloud{border:solid 1px #d8d8d8;padding:8px}
.hot_tags ul li{float:left;height:34px;margin-bottom:1px;margin-left:6px;}
.hot_tags .tagcloud a{color:#000;margin-left:6px;text-decoration:none}
.hot_tags .tagcloud a:hover{text-decoration:underline}
.hot_tags .s1{font-size:24px;/*font-weight:600*/}
.hot_tags .s2{color:#333;font-size:21px}
.hot_tags .s3{color:#666;font-size:18px}
.hot_tags .s4{color:#808080;font-size:16px}
.hot_tags .s5{color:#999;font-size:14px}
.hot_tags .s6{color:#999;font-size:12px}

.logined .bg{background-color:#e6e6e6}
.logined h4{font-size:14px;margin:3px 0 0;overflow:hidden;padding-left:4px}
.logined .user_avatar{padding:13px 0 0 16px;position:relative;width:164px}
.logined .user_avatar div{width:111px}
.logined .user_avatar div img{margin-top:5px}
.logined .exit{background:url(../images/members/exit.gif) no-repeat;font-size:0;height:10px;position:absolute;right:5px;top:5px;width:35px}
.relation{clear:both;float:left;padding:10px 8px;width:164px}
.relation span{border-left:solid 1px #b8b8b8;color:#323232;float:left;font-weight:bold;text-align:center;width:80px}
.relation span.f{border:0}
.relation span i{color:#000;display:block;font:30px Verdana,Geneva,Arial,Helvetica,sans-serif}

/*****hf center*****/
.list{float:left}
.list li{float:left;margin-left:6px}
.related .list li{margin-left:10px;width:240px}
.list li.lside,.list li.first{margin-left:0 !important}
.items img{display:block}
.items li{display:inline;margin-bottom:15px}
.hot_topics .items li{display:list-item}
.items .iconList{float:left;margin:10px 0}
.items h4{clear:left;font-size:12px;margin:0}
.items p{clear:left}
.items a{font-weight:bold}

.main_type li{margin:0 6px 10px 0}
.main_type img{display:block}
.main_type p{margin-top:3px;text-align:center}

.tab{border-bottom:solid 1px #ffbe0a;height:20px;margin-bottom:15px}
.tab dd{float:left;margin-right:2px}
.tab dd img{display:block}

.slideshow{overflow:hidden;position:relative;width:710px}
.slideshow ul{width:20000px}
.slideshow li{float:left;width:740px}
.slideshow li img{display:block}
.slideshow .numbers{bottom:5px;position:absolute;right:5px;z-index:3}
.slideshow .numbers dd{background-color:#323232;float:left;font:10px/13px Verdana;height:13px;margin-left:1px;width:13px}
.slideshow .numbers dd a{color:#fff;display:block;height:13px;text-align:center;text-decoration:none}
.slideshow .numbers dd.on{background-color:#ffbe0a}
.slideshow .numbers dd.on a{color:#000}

.accordion{}
.accordion h2 a{background:url(../images/center/accordion.gif) no-repeat -180px top;display:block;height:20px}
.accordion h2 a.life{background-position:-180px -20px}
.accordion h2 a.season{background-position:-180px -40px}
.accordion h2 a.room.on{background-position:left top}
.accordion h2 a.life.on{background-position:left -20px}
.accordion h2 a.season.on{background-position:left -40px}
.accordion dl{border-top:solid 1px #e6e6e6;margin-bottom:15px}
.accordion dd{border-bottom:solid 1px #e6e6e6}
.accordion dd a{color:#787878;display:block;height:30px;text-decoration:none}
.accordion dd a:hover{background-color:#f0f0f0;color:#000}
.accordion dd a.on{background:url(../images/icons.gif) no-repeat right -120px;color:#000}
.accordion dd a img{display:inline;float:left;margin:5px 0 0 10px}
.accordion dd a span{display:inline;float:left;height:30px;line-height:30px;margin-left:15px}

.type_list .bLine{padding-top:5px}
.type_list .tabpanel{padding-right:0}

.hot_topics .bar span{background-position:left -20px}
.topic_related .bar span{background-position:left -220px}
.hf_hot .bar span{background-position:left -40px}

.topic_list .bLine{padding:0}

.topic_title,.event_title,.media_title{border-bottom:solid 1px #b4b4b4;float:left;height:22px;margin-bottom:15px;margin-top:13px;width:740px}
.topic h3,.event h3,.media h3{float:left;font-size:16px;margin:0}

.type_detail .summary{line-height:22px}

.topic_title .iconList,.event_title .iconList,.media_title .iconList,.event_title2 .iconList{float:right;height:17px;margin:0}
.topic_title .iconList dd,.event_title .iconList dd,.media_title .iconList dd,.event_title2 .iconList dd{float:right;margin-top:3px}
.topic_detail .detail{height:250px;overflow:hidden;width:287px}
.topic_detail .detail .intro{height:112px}
.topic_detail .detail .intro h4{margin:0 0 10px}
.topic_detail .detail .intro .summary{padding:0}
.topic_detail .tags{height:60px;padding-bottom:10px}
.topic_detail .title{background:url(../images/center/topicTitle.gif) no-repeat;font-size:0;height:12px;margin-bottom:9px;text-indent:-9999px}
.comments .title{margin-bottom:5px}
.topic_detail .sub div{float:left;margin-left:14px;overflow:hidden;position:absolute;width:259px}
.topic_detail .sub ul{height:50px;overflow:visible;width:2000px}
.topic_detail .sub li{display:inline;float:left;margin-right:2px;position:relative}
.topic_detail .sub li img{display:block}
.topic_detail .sub li span{background-color:#fff;cursor:pointer;height:50px;left:0;position:absolute;top:0;width:85px}
.topic_detail .sub li.on span{display:none}
.topic_detail .sub .prev{background:url(../images/slidebtns.gif) no-repeat left center;height:50px;margin-right:2px;width:9px}
.topic_detail .sub .next{background:url(../images/slidebtns.gif) no-repeat right center;height:50px;width:9px}
.topic_detail .sub span a{display:block;height:50px}
.topic_detail .items{clear:both;height:159px;padding-top:15px}
.topic_detail .noitem{clear:both;height:15px}
.topic_detail .items .title{background-position:left -12px;margin-bottom:14px}
.topic_detail .items dd{border:solid 1px #ccc;float:left;margin-right:8px;position:relative}
.topic_detail .items dd div{background:url(../images/center/icons/items_arrow.gif) no-repeat center top;display:none;padding-top:8px;top:76px;position:absolute;}
.topic_detail .items dd div span{background-color:#ffbe0a;color:#000;float:left;height:20px;line-height:20px;padding:0 5px;white-space:nowrap;width:auto}
.topic_detail .items dd.on{border-color:#ffbe0a}
.topic_detail .items dd.on div{display:block}
.topic_detail .title.desc{background-position:left -24px;color:#686868;font-size:12px;font-weight:normal;line-height:12px;text-indent:58px}
.topic_detail .title.desc a{color:#686868;text-decoration:underline}

.comments{clear:left}
.state{background-color:#f4f3ee;border-bottom:solid 1px #e3e0d4;border-top:solid 1px #e3e0d4;height:26px;line-height:26px;margin-bottom:16px}
.state dd{float:left;margin-left:5px}
.state p{color:#686868;margin-left:66px}
.state p a{color:#686868}
.state a.rbtn{background:url(../images/vote_repeat.gif) repeat-x;float:left;height:17px;margin-top:4px;text-decoration:none}
.state a.rbtn span{color:#a2a2a2;float:left;font-size:10px;line-height:17px;margin:0;padding-right:5px}
.state a.rbtn i{background:url(../images/vote_right.gif) no-repeat;float:left;font-size:0;height:17px;width:4px}
.state a.btn_like b{background:url(../images/square/like_left.gif) no-repeat;float:left;height:17px;margin-right:8px;width:56px}
.post{clear:left;margin-bottom:15px;overflow:hidden}
.post .textbox{height:105px;margin:5px 0 10px;padding:3px;position:relative}
.post textarea{border:0;font-size:12px;height:102px;resize:none;width:662px}
.post .arrow{background:url(../images/center/icons/form_arrow.gif) no-repeat;height:20px;left:-11px;position:absolute;top:45px;width:11px;z-index:2}

.comments_list .bg{background:url(../images/square/bgline.gif) repeat-y -62px top;float:left}
.comments_list .user_info{margin-right:20px;width:76px}
.comments_list .user_avatar h4{font-size:12px !important;margin:0}
.comments_list .main{float:left;padding-bottom:16px;width:595px}
.comments_list .main p{margin-bottom:15px;padding-right:10px}
.comments_list .reply{bottom:10px;position:absolute;right:10px;width:586px}
.comments_list .reply span{color:#989898;float:right}

.comments_list li{border-bottom:solid 1px #e3e0d4;float:left;padding:15px 0 10px 20px;position:relative;width:692px}
.comments_list li.t{border-top:solid 1px #e3e0d4}
.comments_list{clear:both}

/*****member*****/
.member .bar span{background:url(../images/h2TxtM.gif) no-repeat}
.subnav dd{float:left;margin-right:10px}
.subnav a{background:url(../images/icons.gif) no-repeat;color:#787878;display:block;font-weight:bold;padding-left:16px;text-decoration:none}
.subnav a:hover,.subnav .on a{color:#000}
.subnav .on a.home{background-position:left -250px}
.subnav a.edit{background-position:left -270px}
.subnav .on a.edit{background-position:left -350px}
.subnav a.home{background-position:left -330px}

.user_state h5{font-size:12px;margin:25px 0 13px}
.user_state .states_list{clear:both;margin-left:22px}
.user_state .states_list li{background:url(../images/center/icons/comment_arrow.gif) no-repeat left center;margin-bottom:1px}
.user_state .states_list li.alt{background-image:url(../images/state_arrow.gif)}
.user_state .states_list li .border{background-color:#f0f0f0;margin-left:11px;padding:15px;overflow:hidden}
.user_state .states_list li.alt .border{background-color:#e5e5e5;margin-left:11px;padding:15px;overflow:hidden}
.user_state .states_list li strong a{font-weight:bold}
.user_state .states_list li p{clear:both;color:#787878;margin-top:10px}
.user_state .states_list li span{color:#b4b4b4;float:left}
.user_state .states_list li .info{clear:left;height:15px;margin-top:5px;overflow:hidden}
.user_state .states_list li .btns{float:right;height:15px}
.user_state .states_list li strong{background:url(../images/icons.gif) no-repeat;display:block;padding-left:21px}
.user_state .states_list li strong.comment{background-position:left -290px;}
.user_state .states_list li strong.like{background-position:left -310px;}
.user_state .states_list li .btn{background:url(../images/buttons.gif) no-repeat ;display:inline;float:right;height:15px;margin-left:1px;width:40px}
.user_state .states_list li .view{background-position:left -33px;}
.user_state .states_list li .delete{background-position:right -33px;}
.user_state .pager{margin-left:33px}

.user_info .user_avatar h4{font-size:14px;margin:3px 0 10px}
.user_info .relation{border-bottom:solid 1px #e6e6e6;border-top:solid 1px #e6e6e6;clear:both;float:left;padding:4px 0;width:178px}
.user_info .relation a,.user_info .relation span{border-left:solid 1px #e6e6e6;color:#323232;display:inline;float:left;font-weight:bold;text-align:center;text-decoration:none;width:58px}
.user_info .relation a.f,.user_info .relation span.f{border:0}
.user_info .relation a i,.user_info .relation span i{color:#000;display:block;font:20px Verdana,Geneva,Arial,Helvetica,sans-serif}
.user_info .exit{background:url(../images/members/exit.gif) no-repeat;font-size:0;height:10px;position:absolute;right:5px;top:5px;width:35px}
.user_info .follow{clear:both;padding-top:10px}

.user_bio{border-bottom:solid 1px #e6e6e6;clear:left;float:left;margin-bottom:15px;padding-bottom:20px;padding-top:10px;width:178px}
.user_bio p{color:#323232;margin-top:5px}
.user_bio label{font-weight:bold;margin-bottom:2px}

.user_nav{border-bottom:solid 1px #e6e6e6;clear:left;padding:0 0 9px}
.user_nav li{margin-bottom:6px}
.user_nav a{background:url(../images/members/userNav.gif) no-repeat;display:block;height:17px;width:106px}
.user_nav .editAvatar{background-position:left top}
.user_nav .editProfile{background-position:left -17px}
.user_nav .bindCard{background-position:left -34px}

.member_list li{background:url(../images/members/member_listicon.gif) no-repeat 2px 12px;border-bottom:solid 1px #e6e6e6;height:30px;line-height:30px;text-indent:11px}

.pager{clear:both;height:15px;margin-top:17px;text-align:center}
.pager a,.pager span{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background-color:#b4b4b4;color:#fff;display:inline-block;font:10px/15px Verdana;height:15px;margin:0 1px;padding:0 4px;text-decoration:none}
.pager span{background-color:#323232}
.pager .prev{background:url(../images/icons.gif) no-repeat left -234px;display:inline-block;height:15px;margin:0 7px 0 0;padding:0;width:15px}
.pager .next{background:url(../images/icons.gif) no-repeat right -234px;display:inline-block;height:15px;margin:0 0 0 7px;padding:0;width:15px}
.pager .mid{margin:0 15px}
.pager.nav a,.pager.nav span{line-height:14px}
.pager form{display:inline-block;vertical-align:-1px}
.pager form .num{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font:10px Verdana;height:13px;padding:1px;width:34px}
.pager form .go{vertical-align:-4px}

.subTab{float:left;font-size:14px;margin:30px 0 0}
.subTab li{background:url(../images/members/split_line.gif) no-repeat left 6px;float:left;margin-right:10px;padding-left:10px}
.subTab li.first{background:none;padding:0}
.subTab li a{color:#808080;text-decoration:none}
.subTab li.on a,.subTab li a:hover{color:#000}

.tabBox{padding-top:10px}

.user_edit p{clear:left;height:15px;position:relative}
.user_edit .arrow,.subarr .arrow{background:url(../images/members/tab_arrow.gif) no-repeat;bottom:0;font-size:0;height:10px;position:absolute;width:20px}
.t0 .arrow{left:17px}
.t1 .arrow{left:94px}
.t2 .arrow{left:170px}
.t3 .arrow{left:246px}
.subarr.t0 .arrow{left:25px}
.subarr.t1 .arrow{left:157px}
.subarr.t2 .arrow{left:290px}
.subarr.t3 .arrow{left:421px}

.user_activity h2,.user_group h2,.hf_hot h2,.his_group h2,.his_activity h2{margin:0}
.user_activity .bar span,.my_activity .bar span{background-position:left -40px}
.user_group .bar span{background-position:left -80px}

.user_edit .tabBox div{clear:left;float:left;margin-bottom:10px}
.user_edit .tabBox div div{clear:none;float:none}
.user_edit .tabBox div .work{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif}
.user_edit .tabBox div.upDashed{border-top:dashed 1px #cacaca;padding-top:10px;width:710px}
.user_edit div span{float:left;margin-left:5px}
.user_edit label{color:#7f7f7f;float:left;width:65px}
.user_edit label.leftSpace{margin-left:10px;}
.user_edit .desc{color:#7f7f7f;font-size:10px;margin-left:326px;}
.user_edit .profile label{color:#7f7f7f;float:left;width:74px}
.user_edit .profile .h label{color:#323232}
.user_edit .profile .l{border-top:solid 1px #e3e0d4;color:#7f7f7f;float:none;margin:0;padding-top:12px}
.user_edit .profile span label{float:none}
.user_edit .profile span i{display:inline-block;font-style:normal;margin:0 15px 5px 0;white-space:nowrap}
.user_edit .profile .h span{width:592px}

.user_edit .account label{width:96px}

.user_edit .verified{}
.user_edit .iptField{font-size:12px;width:176px}
.user_edit .longField{font-size:12px;width:356px}
.user_edit textarea{height:74px;margin:0;padding:1px 0}
.user_edit .gbtn{display:inline-block}
.user_edit .gbtn span{float:none;margin:0}

.user_edit .password label{width:96px}

.user_edit .avatar p{height:18px}
.user_edit #step1 form{width:130px}
.user_edit .avatar .options{clear:none;float:right;width:470px}
.user_edit .avatar .options p{margin-bottom:3px}
.user_edit .avatar .options .summary{font-size:10px;padding:0}
.user_edit .upload{width:188px}
.user_edit .upload span{float:right;margin-left:8px}

.user_edit .sub{clear:both;float:none !important;height:84px;margin-bottom:30px;width:459px}
.user_edit .sub div{display:inline;float:left;margin-left:4px;overflow:hidden;position:absolute;width:430px}
.user_edit .sub ul{height:84px;overflow:visible;width:2000px}
.user_edit .sub li{display:inline;float:left;margin-right:5px;position:relative}
.user_edit .sub li img{display:block}
.user_edit .sub li span{background-color:#fff;cursor:pointer;height:64px;left:0;position:absolute;top:0;width:64px}
.user_edit .sub li.on span{display:none}
.user_edit .sub .prev{background:url(../images/slidebtns.gif) no-repeat left center #414141;margin:0 2px 0 0;width:9px}
.user_edit .sub .next{background:url(../images/slidebtns.gif) no-repeat right center #414141;float:right;margin:0;width:9px}
.user_edit .sub span a{display:block;height:84px}

.usertab{float:left}
.usertab dd{float:left;margin-right:3px}
.usertab dd a{background:url(../images/tabTxtM.gif) no-repeat;display:block;height:23px}
.center .usertab dd a{background-image:url(../images/tabTxtC.gif)}
.search .usertab dd a{background-image:url(../images/tabTxtS.gif)}
.usertab dd.on a{height:25px;margin-bottom:-2px;position:relative}
.usertab .stateAll{width:83px}
.usertab .stateMine{background-position:-83px top;width:84px}
.usertab .stateFriends{background-position:-167px top;width:110px}
.usertab .topicMine{background-position:-277px top;width:83px}
.usertab .favorites{background-position:-360px top;width:84px}
.usertab .topicHot{background-position:-444px top;width:84px}
.usertab .account{background-position:-528px top;width:84px}
.usertab .avatar{background-position:-612px top;width:84px}
.usertab .profile{background-position:-696px top;width:84px}
.usertab .bind{background-position:-780px top;width:84px}
.usertab .sortbyRoom{background-position:left top;width:118px}
.usertab .sortbyState{background-position:-118px top;width:115px}
.usertab .sortbySeason{background-position:-233px top;width:128px}
.usertab .searchAll{background-position:left top;width:83px}
.usertab .searchTopic{background-position:-83px top;width:84px}
.usertab .searchKB{background-position:-167px top;width:84px}
.usertab .searchEvent{background-position:-251px top;width:84px}
.usertab .searchVideo{background-position:-335px top;width:84px}

.usertab .on .stateAll{background-position:left -23px}
.usertab .on .stateMine{background-position:-83px -23px}
.usertab .on .stateFriends{background-position:-167px -23px}
.usertab .on .topicMine{background-position:-277px -23px}
.usertab .on .favorites{background-position:-360px -23px}
.usertab .on .topicHot{background-position:-444px -23px}
.usertab .on .account{background-position:-528px -23px}
.usertab .on .avatar{background-position:-612px -23px}
.usertab .on .profile{background-position:-696px -23px}
.usertab .on .bind{background-position:-780px -23px}
.usertab .on .stateHim{background-position:-864px -23px;width:83px}
.usertab .on .topicHim{background-position:-947px -23px;width:83px}
.usertab .on .sortbyRoom{background-position:left -23px}
.usertab .on .searchAll{background-position:left -23px}
.usertab .on .searchTopic{background-position:-83px -23px}
.usertab .on .searchKB{background-position:-167px -23px}
.usertab .on .searchEvent{background-position:-251px -23px}
.usertab .on .searchVideo{background-position:-335px -23px}

.tabpanel{background-color:#faf9f4;border:solid 2px #e3e0d4;padding:15px}
.tabpanel .member_list li{height:auto;line-height:18px;text-indent:0}
.tabpanel .member_list li span{color:#323232;line-height:30px;padding-left:11px}
.tabpanel .member_list li span a{text-decoration:underline}
.tabpanel .member_list li p{color:#787878}
.tabpanel .member_list li img{margin-top:5px}
.tabpanel .member_list li i{color:#b4b4b4;display:block;font-style:normal;line-height:25px;text-align:right}
.tabpanel .member_list li .iconList{float:right;margin:10px 0}
.tabpanel .member_list li .iconList dd{margin:0 0 0 10px}
.tabpanel .member_list li strong{border-left:solid 1px #000;border-right:solid 1px #000;color:#323232;margin:0 8px 0 6px;padding:0 6px}
.tabpanel .member_list li strong a{text-decoration:none}
.tabpanel .member_list li strong a:hover{text-decoration:underline}

.my_follow h2 i,.my_followed h2 i{left:40px}
.my_follow li,.my_followed li{border-bottom:solid 1px #e6e6e6;float:left;margin-bottom:10px;padding-bottom:10px;width:712px}
.my_follow li div,.my_followed li div{float:left;margin-left:10px;width:650px}
.my_follow li a,.my_follow li p span,.my_followed li a,.my_followed li p span{color:#323232;text-decoration:none}
.my_follow li a:hover,.my_follow li p a,.my_followed li a:hover,.my_followed li p a{text-decoration:underline;}
.my_follow li p,.my_followed li p{background:url("../images/members/member_listicon.gif") no-repeat left 5px;color:#787878;margin:8px 0 0 10px;padding-left:11px}
.my_follow li p i,.my_followed li p i{float:right;font-size:10px;font-style:normal}

.user_photos li{margin-left:29px}

.user_photos .bar span{background-position:left -100px}
.user_follow .bar span{background-position:left top}
.user_followed .bar span{background-position:left -20px}
.user_maybe .bar span{background-position:left -60px}
.his_activity .bar span{background-position:left -120px}
.his_group .bar span{background-position:left -140px}
.his_photos .bar span{background-position:left -160px}
.his_follow .bar span{background-position:left -180px}
.his_followed .bar span{background-position:left -200px}
.my_follow .bar span{background-position:left -220px}
.my_followed .bar span{background-position:left -240px}

/*****event*****/
.event_news .bar span{background-position:left -140px}
.event_review .bar span{background-position:left -40px}

.event_list .bLine{padding:0}

.event .items li,.media .items li{display:list-item;margin-bottom:18px;padding:0}
.event .items a,.media .items a{display:block}
.event .items .summary,.media .items .summary{padding-top:2px}

.event_detail .info,.media_detail .info{clear:both;height:250px;margin-bottom:15px}
.event_detail .detail,.media_detail .detail{width:287px}
.event_detail .detail h4,.media_detail .detail h4{margin:0}
.event_detail .detail .summary,.media_detail .detail .summary{padding:0}
.event_detail .detail p,.media_detail .detail p{margin-top:10px}

.topic_detail .pic,.event_detail .pic,.media_detail .pic{position:relative}
.topic_detail .pic .next,.event_detail .pic .next,.media_detail .pic .next{background:url(../images/icons.gif) no-repeat left -178px;height:28px;position:absolute;right:0;top:116px;width:28px}
.topic_detail .pic .prev,.event_detail .pic .prev,.media_detail .pic .prev{background:url(../images/icons.gif) no-repeat left -150px;height:28px;left:0;position:absolute;top:116px;width:28px}

.event_detail .sub,.media_detail .sub{clear:both;height:80px;margin-bottom:30px}
.event_detail .sub div,.media_detail .sub div{display:inline;float:left;margin-left:4px;overflow:hidden;position:absolute;width:705px}
.event_detail .sub ul,.media_detail .sub ul{height:78px;overflow:visible;padding:1px 0;width:2000px}
.event_detail .sub li,.media_detail .sub li{display:inline;float:left;margin-right:7px;position:relative}
.event_detail .sub li img,.media_detail .sub li img{display:block}
.event_detail .sub li span,.media_detail .sub li span{background-color:#fff;cursor:pointer;height:78px;left:0;position:absolute;top:0;width:135px}
.event_detail .sub li.on span,.media_detail .sub li.on span{display:none}
.event_detail .sub .prev,.media_detail .sub .prev{background:url(../images/slidebtns.gif) no-repeat left center #414141;height:80px;margin-right:2px;width:12px}
.event_detail .sub .next,.media_detail .sub .next{background:url(../images/slidebtns.gif) no-repeat right center #414141;height:80px;width:12px}
.event_detail .sub span a,.media_detail .sub span a{display:block;height:80px}

.event_title2{float:left;height:22px;margin-bottom:15px;width:740px}
.event_detail2{clear:right}
.event_detail2 .kv{display:block}
.event_detail2 .detail{background-color:#ffbe0a;color:#000;padding:20px;position:relative;}
.event_detail2 .detail .arrow{background:url(../images/events/event_arrow.png) no-repeat;font-size:0;height:9px;left:23px;position:absolute;top:-9px;width:18px}
.event_detail2 .detail .extra{font-size:10px;margin-top:12px;}

.event_detail2 .subTab{font-weight:bold;margin-top:30px}
.subarr{clear:left;font-size:0;height:15px;position:relative}

.table_list{background-color:#f0f0f0;margin-top:10px;padding:20px 15px}
.nomargin{margin:0 !important}
body.frame{background:none}
.frame table,.table_list table{width:320px}
.frame.c4 div{border-left:solid 1px #d8d8d8;margin-left:20px;margin-top:28px;padding-left:20px;width:136px}
.frame.c4 div table{width:140px}
.frame.c4 div.first{border:0;margin-left:0;padding:0}
.frame th,.table_list th{border-bottom:dashed 1px #cacaca;text-align:left}
.frame.c4 th{padding-top:0}

/*****media*****/
.video_new .bar span{background:url(../images/h2Txt.gif) no-repeat left -20px !important}
.new_video .bar span{background-position:left -60px}
.video_hot .bar span{background-position:left -200px}
.video_like .bar span{background-position:left -180px}

.video_new .info{float:right;width:308px}
.video_new .info h4{font-size:12px;margin-bottom:12px}
.video_new .info p{margin-bottom:22px}
.video_new .info .iconList dd{margin-bottom:10px}

.piclist li{float:left;margin-bottom:20px;margin-left:23px}
.piclist li.lside{margin:0}
.piclist li img{display:block}
.piclist li h4{margin:8px 0 0}
.piclist li .iconList{margin:3px 0 0}

.video_like .bar{margin-bottom:0}

/*****article*****/
.article{border-top:solid 1px #e6e6e6;padding:0 20px}
.article h2{font-size:18px;margin:15px 0;text-align:center}
.article h3{font-size:12px;margin:20px 0}
.article p{line-height:20px;margin-bottom:15px}
.article span.indent{display:block;padding-left:20px}

.scroll-pane{height:618px;padding-right:15px}
.scroll-pane .jspVerticalBar{background:none;width:7px}
.scroll-pane .jspTrack{background:url(../images/scroll_bar2.gif) repeat-y}
.scroll-pane .jspDrag{background:url(../images/scroll_btn.gif) no-repeat}

/*****search*****/
.search_result li{padding-bottom:6px;padding-left:11px}
.search_result .tabpanel li span{padding:0}
.search_result .tabpanel li p a{color:#787878}

/*****square*****/
.sp_groups .bar span{background-position:left -180px}
.sp_hot .bar span{background-position:left -200px}
.sp_activity .bar span{background-position:left -220px}
.gp_activity .bar span{background-position:left -240px}
.sp_discussion .bar span{background-position:left -260px}
.sp_grouphot .bar span{background-position:left -280px}
.sp_allhot .bar span{background-position:left -300px}
.sp_new .bar span{background-position:left -320px}

.group_list{}
.group_list li{float:left;width:340px}
.group_list li.vline{border-right:solid 1px #e6e6e6;height:90px;margin-right:15px;width:14px}
.group_list li.hline{border-bottom:solid 1px #e6e6e6;height:13px;margin-bottom:14px}
.group_list li.space{height:28px;width:30px}
.group_list li div{border:solid 1px #ffbe0a;float:right;height:86px;margin-left:2px;padding:1px;width:184px}
.group_list li div h3{background-color:#ffbe0a;font-size:12px;height:27px;line-height:27px;margin:0;padding:0 0 0 5px}
.group_list li div p{color:#6e6d6c;margin-top:5px;padding-left:5px}
.group_list li div .join{float:right;margin-right:12px;margin-top:9px}
.group_list li .iconList{margin-left:7px}

.sp_hot li{border-bottom:solid 1px #e6e6e6;padding:10px 0}
.sp_hot li.t{border-top:solid 1px #e6e6e6}
.sp_hot .iconList{margin:5px 0 0}

.sp_activity li{border-bottom:solid 1px #e6e6e6;margin-bottom:15px;padding-bottom:15px}
.sp_activity li div{float:right;margin-left:12px;width:120px}
.sp_activity li p{margin-bottom:5px}
.sp_activity li p span{margin-left:.7em}
.sp_activity li strong{color:#787878;font-weight:normal}

h1.sub{font-size:20px;margin-top:0}
.intro div{float:right;width:473px}
.intro .announce{background-color:#faf9f4;border:solid 2px #e3e0d4;margin:10px 0;padding:10px}
.ctrlBar{clear:both;float:left;margin-bottom:20px;padding-top:15px;width:712px}
.ctrlBar .rfloat{margin-left:8px}
.sp_groups table{width:712px}
.sp_groups th{background-color:#ecebdf;border-bottom:solid 1px #e3e0d4;height:35px;text-align:left}
.sp_groups table .t{padding-left:15px;width:418px}
.sp_groups table .a{width:68px}
.sp_groups table .b{width:60px}
.sp_groups table .r{width:60px}
.sp_groups table .l{width:78px}
.sp_groups td{border-bottom:solid 1px #e3e0d4;height:30px}
.sp_groups .alt td{background-color:#f5f5ef}
.sp_groups td.top{background-image:url(../images/icons.gif);background-repeat:no-repeat;background-position:15px -536px;padding-left:50px}
.sp_groups td span{color:#ffbe0a;margin-right:3px}
.sp_groups .btBar{padding-top:10px}

.sp_discussion .share{float:right;margin-bottom:6px}
.sp_discussion .share a,.sp_discussion .share span{float:right;margin-left:9px}
.sp_discussion a.rbtn{background:url(../images/vote_repeat.gif) repeat-x;height:17px;text-decoration:none}
.sp_discussion a.rbtn span{color:#a2a2a2;float:left;font-size:10px;line-height:17px;margin:0;padding-right:5px}
.sp_discussion a.rbtn i{background:url(../images/vote_right.gif) no-repeat;float:left;font-size:0;height:17px;width:4px}
.sp_discussion a.forward b{background:url(../images/square/forward_left.gif) no-repeat;float:left;height:17px;margin-right:8px;width:70px}
.sp_discussion a.btn_reply b{background:url(../images/square/reply_left.gif) no-repeat;float:left;height:17px;margin-right:8px;width:50px}
.sp_discussion a.btn_mark b{background:url(../images/square/mark_left.gif) no-repeat;float:left;height:17px;margin-right:8px;width:50px}
.sp_discussion .info{clear:right;margin-bottom:10px}
.sp_discussion .info a{float:right;margin-left:6px}
.sp_discussion .info h1{font-size:16px;margin:0}

.sp_discussion .host{background-color:#f2f1e9;border-bottom:solid 1px #e3e0d4;border-top:solid 1px #e3e0d4;float:left;padding:15px 0 10px 20px;position:relative;width:692px}
.sp_discussion .bg{background:url(../images/square/bgline.gif) repeat-y;float:left}
.sp_discussion .user_info{margin-right:40px;width:118px}
.sp_discussion .user_avatar h4{margin-bottom:6px}
.sp_discussion .relation{margin-bottom:8px;width:118px}
.sp_discussion .relation a{font-size:10px;width:38px}
.sp_discussion .main{float:left;padding-bottom:45px;width:530px}
.sp_discussion .main p{margin-bottom:15px;padding-right:10px}
.sp_discussion .reply{bottom:10px;position:absolute;right:10px;width:524px;z-index:30}
.sp_discussion .reply span{color:#989898}
.sp_discussion .reply a{float:right;margin-left:4px}

.sp_discussion .topic{border-bottom:solid 1px #e3e0d4;float:left;padding:15px 0 10px 20px;position:relative;width:692px}

.sp_reply h2{font-size:12px;margin-bottom:10px}
.sp_form .toolbar{float:left;margin-bottom:7px}
.sp_form .toolbar dd{float:left;margin-right:10px}
.sp_form .toolbar a{background:url(../images/square/reply_icon.gif) no-repeat;display:block;height:15px}
.sp_form .toolbar .pic a{width:60px}
.sp_form .toolbar .video a{background-position:left -15px;width:66px}
.sp_form .toolbar .link a{background-position:left -30px;width:49px}
.sp_form .toolbar .unlink a{background-position:left -45px;width:67px}
.sp_form .textbox{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;border:solid 2px #d8d8d8;clear:left;margin-bottom:6px;padding:2px;position:relative}
.sp_form .textbox textarea{border:0;font-size:12px;resize:none;width:100%}
.sp_form .textbox i{background:url(../images/square/tbarr.gif) no-repeat;font-size:0;height:6px;left:20px;position:absolute;top:-6px;width:7px}
.sp_form .upload{margin-bottom:10px}
.sp_form .desc{color:#7f7f7f;margin-left:5px}
.sp_form label{float:left;line-height:20px}
.sp_form span{line-height:20px}

.sp_new .line{clear:left;float:left;margin-bottom:15px}
.sp_new .longField{font-size:12px;width:476px}
.sp_form .cblist{float:left;width:650px}
.sp_form .cblist dd{float:left;margin:0 15px 15px 0}
.sp_form .cblist label{float:none}
