#userSignin p,.popup .register p,.popup .signin p,.popup .forgetForm p{height:auto;margin-bottom:10px}
.tabBox{padding-bottom:15px}
.user_edit .arrow{bottom:-1px}
.event_detail2 .detail .arrow{background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/events/event_arrow.png', sizingMethod='scale');left:3px}
#userSignin .login_way{margin-right:3px}
.subarr .arrow{bottom:-1px}
.lie6{margin-right:-3px}
.logined .goMember{display:block}
.sp_form .toolbar{clear:both}
.sp_form .textbox i{top:-4px}
.pager form{display:inline;vertical-align:-2px}
.pager form .go{vertical-align:-1px}
.state dd a.rbtn{position:relative}
.userBar div{top:-3px}
